.App {
    max-width: 80vw;
    width: 128rem;
    margin: 0 auto;
}

#about-section {
    min-height: 100vh;
}

#about-section h3 {
    text-align: center;
}

/* Top svg pink circle */
.top-circle {
    position: relative;
}

.top-circle > img {
    position: absolute;
}