.link-scroll {
  align-self: stretch;
  border: none;
  background: none;
  color: var(--default-link-color);
  cursor: pointer;
}

@media screen and (min-width: 920px) {
  .link-scroll {
    align-self: self-start;
  }
}
