nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9rem;
}

nav ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 30px;
}

header nav ul li {
  display: none;
}

header nav ul li:nth-child(1) {
  margin-left: auto;
}

header nav ul li:nth-child(5) {
  position: absolute;
  right: 70px;
}

header nav ul li:nth-child(6) {
  position: absolute;
  right: 20px;
}

/* Navbar of header and aside. */
nav ul li button:nth-child(-n + 4) {
  position: relative;
}

/* Hover underline animation. */
nav ul li button:nth-child(-n + 4)::before {
  content: "";
  position: absolute;
  width: 0;
  left: 0;
  bottom: 0;
  background-color: white;
  height: 0.2rem;
  transition: 0.3s ease-out;
}

nav ul li button:nth-child(-n + 4):hover::before  {
  width: 100%;
}

/* Hidden Mail and Github icons in mobile first. */
header nav ul li:nth-child(n + 5) {
  display: none;
}

.hamburger-container {
  z-index: 2;
}

/* media query */
@media screen and (min-width: 640px) {
  header nav {
    justify-content: center;
  }

  header nav ul li {
    display: inline-block;
  } 

  .hamburger-container {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  header nav ul li:nth-child(n + 5) {
    display: inline;
  }
}