nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9rem;
}

nav ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 30px;
}

header nav ul li {
  display: none;
}

header nav ul li:nth-child(1) {
  margin-left: auto;
}

header nav ul li:nth-child(5) {
  position: absolute;
  right: 70px;
}

header nav ul li:nth-child(6) {
  position: absolute;
  right: 20px;
}

/* Navbar of header and aside. */
nav ul li a:nth-child(-n + 4):hover {
  text-decoration: underline;
}

header nav ul li:nth-child(n + 5) {
  display: none;
}

.hamburger-container {
  z-index: 2;
}

/* media query */
@media screen and (min-width: 640px) {
  header nav {
    justify-content: center;
  }

  header nav ul li {
    display: inline-block;
  } 

  .hamburger-container {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  header nav ul li:nth-child(n + 5) {
    display: inline;
  }
}